.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.benefits__item {
  margin-bottom: 30px;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }
}

.benefits__box {
  @include flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--btn-gallery-color);
}

.benefits__title {
  @include font(700, 14px, 1.14);
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--main-color);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__text {
  @include font(400, 14px, 1.71);
  color: var(--second-color);
}
